.mainDiv {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.artists {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.pinkArtistbutton {
  background-color: #ff809f;
  margin-top: 1.3rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 1rem;
  width: 250px;
  padding: 0.5rem;
  align-items: center;
  height: 60px;
}

.pinkArtistbutton:hover {
  background-color: #e96485;
  color: #fff;
  border: none;
}

.greenArtistbutton {
  background-color: #4eb4a0;
  margin-top: 1.3rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 1rem;
  width: 250px;
  padding: 0.5rem;
  align-items: center;
  height: 60px;
}

.greenArtistbutton:hover {
  background-color: #2a806f;
  color: #fff;
  border: none;
}

.pinkArtistbutton button {
  background-color: #ff809f; /* Add the same background color */
  border: none; /* Remove the default button border */
  width: 100%; /* Make the button as wide as the parent div */
  height: 100%; /* Make the button as tall as the parent div */
}

.greenArtistbutton button {
  background-color: #4eb4a0; /* Add the same background color */
  border: none; /* Remove the default button border */
  width: 100%; /* Make the button as wide as the parent div */
  height: 100%; /* Make the button as tall as the parent div */
}
