.favourites {
  display: flex;
  flex-wrap: wrap; /* Allow components to wrap to the next row */
  justify-content: space-between; /* Distribute space between components */
  margin: 0 -5px; /* Add negative margin to counteract space-between */
}

.pinkFavouritebutton {
  background-color: #ff809f;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 1rem;
  align-items: center;
  width: calc(50% - 10px); /* Calculate width for two components per row */
  margin: 0 10px; /* Add margin to separate components */
  margin: 10px 0; /* Add margin to separate components vertically */
}

.greenFavouritebutton {
  background-color: #4eb4a0;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 1rem;
  align-items: center;
  width: calc(50% - 20px); /* Calculate width for two components per row */
  margin: 0 10px; /* Add margin to separate components */
  margin: 10px 0; /* Add margin to separate components vertically */
}
