@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap");

.btn {
  padding: 1em;
}

.btn button {
  outline-color: #4eb4a0;
  background-color: #160a59;
  border-radius: 10px;
  border: 3px solid #4eb4a0;
  color: #ffffff;
  padding: 10px 20px;
}

@media only screen {
  h1 {
    font-size: 1vw;
    line-height: 0.6;
    color: #ffffff;
    font-family: "Original Surfer", cursive;
  }
}
