@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

.btn {
  padding: 1em;
}

.btn button {
  outline-color: #4eb4a0; /* Green outline color */
  background-color: #160a59; /* Dark blue background color */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #4eb4a0; /* Green border */
  color: #ffffff; /* White text color */
  padding: 10px 20px; /* Adjust padding as needed */
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 1vw;
    line-height: 0.6;
    color: #FFFFFF;
    font-family: 'Original Surfer', cursive;
  }
}
