.header {
  color: black;
}
.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 2rem;
}

.low-center a {
  font-size: 2.5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 15px 0;
}
.low-center a:hover,
.low-center a:focus {
  color: black;
}
.arrow-button {
  background: black;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}
.album-image {
  position: relative;
}
.heart {
  position: absolute;
  bottom: 10px;
  right: 10px;
  size: 2vw;
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 0 black;
  transition: color 0.3s ease;
  font-size: 5vw;
}

.heart.clicked {
  color: red;
  font-size: 5vw;
}

.hidden {
  visibility: hidden;
  pointer-events: none; 
}
