.header {
  color: black;
  position: absolute;
  top: 2rem; /* Adjust this value as needed */
  left: 50%;
  width: 100vw;
  font-size: 2rem;
  transform: translateX(-50%);
}

.container {
  display: flex;
  gap: 5px;
  transform-origin: center;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 20px;
}

@media only screen and (min-width: 500px) {
  .album-image img {
    width: 335px;
  }
  .arrow-button {
    background: black;
    align-items: center;
    font-size: 2rem;
    width: 4rem;
    height: 3rem;
    align-content: center;
    text-align: center;
    cursor: pointer;
    color: white;
    padding: 3px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .album-image img {
    width: 100%;
  }
  .arrow-button {
    background: black;
    align-items: center;
    font-size: 5vw;
    width: 3rem;
    height: 4rem;
    align-content: center;
    text-align: center;
    cursor: pointer;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }

  .header {
    top: 6rem; /* Adjust this value as needed */
    font-size: 2.5rem;
  }
}

.topTitle {
  position: absolute;
  top: 0; /* Adjust this value as needed */
  left: 50%;
  width: 100vw;
  font-size: 1.2rem;
  transform: translateX(-50%);
}

.artistName {
  position: absolute;
  top: 0; /* Adjust this value as needed */
  left: 50%;
  width: 100vw;
  font-size: 2rem;
  transform: translateX(-50%);
}

.content {
  position: absolute;
  width: 100vw;
  top: 10rem; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
}

.low-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(27, 27, 27);
  text-align: center;
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Set your desired background color */
  backdrop-filter: blur(5px);
  text-decoration: none;
  border: none;
  border-radius: 20px; /* Adjust the border radius as needed */
  cursor: pointer;
}
.low-center:hover,
.low-center:focus {
  color: black;
}
.arrow-button {
  background: black;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}
.album-image {
  position: relative;
}
.heart {
  position: absolute;
  bottom: 10px;
  right: 10px;
  size: 2vw;
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 0 black;
  transition: color 0.3s ease;
  font-size: 5vw;
}

.heart.clicked {
  color: red;
  font-size: 5vw;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

.list-of-songs {
  bottom: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
}

.list-of-songs ol {
  list-style-type: none;
}

.list-of-songs li {
  padding: 5px 10px;
}

.list-of-songs button {
  border: none;
  cursor: pointer;
  background-color: #ff809f;
  color: black;
  text-align: left;
}

.list-of-songs button:hover {
  background-color: #4eb4a0;
}
