.favourites {
  display: flex;
  flex-wrap: wrap; /* Allow components to wrap to the next row */
  justify-content: space-between; /* Distribute space between components */
  margin: 0 -5px; /* Add negative margin to counteract space-between */
}

.pinkFavouritebutton div {
  background-color: #ff809f;
  margin-top: 20px; /* Adjust the top margin to add space */
  font-size: 1.5rem;
  text-align: center;
  border-radius: 1rem;
  align-items: center;
  width: calc(50% - 10px); /* Calculate width for two components per row */
  margin: 0 10px; /* Add margin to separate components */
  margin: 10px 0; /* Add margin to separate components vertically */
  background-color: #ff809f; /* Add the same background color */
  border: none; /* Remove the default button border */
  width: 100%; /* Make the button as wide as the parent div */
  height: 100%; /* Make the button as tall as the parent div */
}

.greenFavouritebutton div {
  background-color: #4eb4a0;
  margin-top: 20px; /* Adjust the top margin to add space */
  font-size: 1.5rem;
  text-align: center;
  border-radius: 1rem;
  align-items: center;
  width: calc(50% - 20px); /* Calculate width for two components per row */
  margin: 0 10px; /* Add margin to separate components */
  margin: 10px 0; /* Add margin to separate components vertically */
  background-color: #4eb4a0; /* Add the same background color */
  border: none; /* Remove the default button border */
  width: 100%; /* Make the button as wide as the parent div */
  height: 100%; /* Make the button as tall as the parent div */
}
