.goBackButton {
  position: fixed;
  top: 0;
  left: -10px; /* Start off-screen to the right */
}

.goBackButton button {
  color: black;
  background-color: transparent;
  font-size: 30px;
}

.goBackButton button:hover {
  border: none;
}
